  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


*{

    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
    font-family: 'Quicksand', sans-serif;

    letter-spacing: 0.8px;

    



}
body{
background-color: #1c1c1c;

display: grid;
grid-template-columns: 250px repeat(4,1fr);
grid-template-rows:repeat(4,1fr) ;
height: 100vh;
color: white;


}

#sidebox{

  
    grid-area:1/1/-1/1;
    background-color: #161a23;
  
 



}

#appTitleHolder{


display: flex;

align-items: center;

background-color: #333333;

padding: 22px;
border-radius: 0px 0px 20px 20px;



}
#appTitle{

font-size: 18px;

}
#appLogo{
  
    background: url(./icons/linuxHead.png);
    width: 60px;
    height: 60px;
}

#sectionTitle{

    font-size: 12px;
    margin:  12px 0px 0px 39px;
    


}
#section{

    color: #484b52;

    display: flex;
    flex-direction: column;

    gap: 8px;

}
#sidebox button{

    background:transparent ;
    color: #9d9fa5;
    border: none;
    width: 150px;
    display: flex;
    height: 40px;
    padding: 12px;
    gap: 14px;
    font-size: 15.5px;
    padding-left: 26px;
    text-align: right;
    align-items: center;
    font-weight: bold;
}

#sidebox button:last-child{

background-color:#333333;
border-radius: 12px;
height: 50px;
color:white;
width: 200px;

margin-left: 30px;

}