
  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@500&family=Satisfy&display=swap');
 
  *{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

    letter-spacing: 0.8px;

    



}
body{
background-color: #0f0e13;

display: grid;
grid-template-columns: 250px repeat(4,1fr);
grid-template-rows:repeat(7,1fr) ;
height: 100vh;
color: white;


}

#sidebox{

  
    grid-column: 1/1;
    grid-row: 1/-1;
    background-color: #161a23;
  
 



}

#appTitleHolder{


display: flex;

align-items: center;

background-color: #161a23;

border-bottom: solid 0.5px  #40485a;


padding: 22px;
height: 100px;




}
#appTitle{

font-size: 18px;
font-weight: bold;

}
#appLogo{
  
    background: url(./icons/linuxHead.png);
    width: 60px;
    height: 60px;
}

#sectionTitle{

    font-size: 12px;
    margin:  12px 0px 0px 39px;
   
    


}
#section{

    color: #484b52;

    display: flex;
    flex-direction: column;
   
    gap: 12px;
    margin-top: 12px;

}
#section>button{

    background:transparent ;
    color: #9d9fa5;
    border: none;
    width: 159px;
    display: flex;
    height: 40px;
    padding: 12px;
    gap: 14px;
    font-size: 15.5px;
    padding-left: 26px;
    text-align: right;
    align-items: center;
   
   
}

#section>button:last-child{

background-color:#3754DB;
border-radius: 12px;
height: 50px;
color:white;
width: 200px;

margin-left: 21px;

}
#section>button:hover{

    background-color: #2D2F39;
    width: 250px;


}    

#section>button:last-child:hover{

    background-color:#3754DB;
    color: white;
    border-radius: 0px;
    width: 200px;
    }
#topBoximagegirl,#musicboy,#boyWithpapers{


height: 100px;





}
#topBoximagegirl{

    margin-left:111px ;
}


#topBox{

grid-column-start: 2;
grid-column-end: 6;
background-color: #3754DB;

display: flex;
gap:10px;
height:100px ;




}
#topText{
  
  font-family: 'Satisfy', cursive;
align-self: center;
font-size: 50px;
font-weight: bold;
margin: 12px;
}
#addTask{

width: 70px;
height: 70px;
position: absolute;
top:440px;
left:1178px;
background-color: #3754DB;

border: none;
border-radius: 100%;


}

#addtaskicon{

    fill:white;
   



}

#addTask:hover{
    background-color: #ff5678;


}
#dialogCreateProject{

    border: none;
    background-color: #262c36;
    border-radius: 10px;
    width: 251px;
padding: 20px;
margin-top: 379px;

}
#messageBoxdiv{

    display: flex;

    flex-direction: column;
    padding: 15px;
    gap:6px;
    
   
}

#messageBoxdiv button{

    width: 78px;
    height: 26px;
border: none;
outline:none;
color:white;

}

#messageBoxdiv button:first-child{

    background-color: #f53b30;
}

#messageBoxdiv button:last-child{

    background-color: #2aa31f;
}

#messageBoxdiv input{

    padding: 4px 12px;
    border-radius:4px ;
    border: none;
    outline: none;
    background-color: #E3E3E3;

}
#messageBoxdiv input:active{
    border: none;
    outline: none;
}
#messageBoxdiv div{

    display: flex;
    gap:8px;


}


  
textarea {
    resize: none;
  }
 #dialogTask{

    position: relative;
    top:27%;
    left:40%;
    border: none;
    outline:none;
    width: 291px;
    height: 355px;
    padding: 13px;
   border-radius: 12px;
   background-color: #262c36;
   color:white

 }
 #dialogTask input, #dialogTask textarea{

    background-color: #b8c0cc;
 } 

  dialog::backdrop {
    backdrop-filter: blur(5px);
  }
  #buttonHolder{

display: flex;
gap: 8px;
justify-content: end;
height: 30px;
padding: 0px 10px;
  }

  #buttonHolder button{

    width: 130px;
    border: none;
    outline:none;
    color: white;

  }

  #buttonHolder button:last-child{

    background-color: #2aa31f;
    

  }

  #buttonHolder button:first-child{

    background-color: #F53b30;

  }

  #buttonHolder button:hover,#messageBoxdiv button:hover{


    background-color: transparent;
    border: 2px solid #b8c0cc;


  }

  

  #projectsSection{

    display: flex;
    flex-direction: column;
  
    
    margin-top:-14px;
    margin-left: 20%;
    


  }
  #projectsSection button{

    background-color: transparent;
    border: none;
    width: 150px;
    height: 30px;
    color:#828489;
   font-weight: bold;
   font-style: italic;
    border-radius: 7px;
    font-size: 14px;
    text-align: left;

  }
  #projectsSection button:first-child:hover{
    background-color: #2d2f39;



  }
  #contentTobeUpdated{

    /* border: solid 3px red; */
   
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    overflow: auto;



  }
  #statisticsHolderbox{

    
    height: 100px;
    margin: 20px 0px 0px 10px;
    display: flex;
    gap: 76px;
    justify-content: center;

  }

  #informationOfProjectsHolder{

    display: flex;
    flex-direction: column;




  }
  #informationOfProjectsHolder p:first-child,#TaskNumber,#completedNumber{

    font-size: 34px;


  }
  #statisticsHolderbox>div{

display: flex;

width: 300px;
height: inherit;
padding: 15px;
border-radius: 8px;
justify-content: space-evenly;
background-color: #161a23;


 }
 #projectsBackdrop,#tasksBackdrop,#completedBackdrop{

opacity: 15%;
border-radius:100% ;
width: 60px;
height: 60px;






 }
 #projectsBackdrop{
  background-color: #a803e4;


 }
 #tasksBackdrop{
  background-color:#F39C12 ;
 }

 #completedBackdrop{

  background-color: #27AE60;

 }
 
 #iconDiv{

display: flex;
justify-content: center;


 }
 #iconDiv img{
  width:32px;
  height:30px; 
  position: relative;
left: 46px;
top:15px
 }

#TaskBox{
  margin-top:12px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,120px);
  grid-auto-columns: 1fr;
  grid-auto-rows:120px;
  flex-grow: 1;
  padding: 0px 37px;
  gap: 12px;
  overflow: auto;
}
#TaskDiv{

  background-color:#161a23 ;
 padding: 12px;
 display: flex;
 flex-direction: column;
 gap: 4px;
 border-radius: 12px;

}

#daysRemaining{

  font-size: 12px;
  color: #666666;
  letter-spacing: 1px;
  width: 73px;


}

#TaskTitle{

font-weight: bold;


}

#explainationTask{

font-style: italic;
font-size: 14px;
font-weight: 100;
color: #666666;


}

#buttonsManipulationDiv{

display: flex;
gap:6px;
justify-content: flex-end;

}
#buttonsManipulationDiv button{

  width: 71px;
  height: 27px;
  text-decoration: none;

}

#buttonsManipulationDiv button:first-child{

  background-color: transparent;
  color: #F39C12;
  border: solid 2px #F39C12;
  border-radius: 34px;
  text-decoration: none;


}
#buttonsManipulationDiv button:nth-child(2){

  background-color:#3754DB;
  color: white;
  border: none;
  outline: none;
  text-decoration: none;



}
#buttonsManipulationDiv button:nth-child(3){
background-color: rgb(102, 33, 33);
color: white;
border: none;
outline: none;

}

input[type="checkbox"]{

  width: 28px;
  height: 28px;

  /* background:  */
  appearance: none;
  background-color: none;
  border: 2px #ced4da solid;
  border-radius: 8px;
 
}
input[type="checkbox"]:checked{

  background-color: #27AE60;
  border: none;
  


}
#dateDiv{

  display: flex;
  gap: 387px;
  font-weight: bold;

}

#dateDiv button{

  background-color: transparent;
  
  border: none;

}
#holderforDates{

  
  flex-grow: 1;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;


}

#holderforDates>div{

  flex-grow: 1;

  /* border: solid blue 2px; */
  overflow: auto;


}
#TodayBox,#tomorrowBox{

  display: flex;
  flex-direction: column;
  padding: 12px;


}
#TodayBox>div,#tomorrowBox>div{

  /* border: 2px solid yellow; */
flex-grow: 1;

}

#TodayBox>p,#tomorrowBox>p{
font-weight: bold;
  
}
#taskBoxToday,#taskBoxtomorrow{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,120px);
  grid-auto-columns: 1fr;
  grid-auto-rows:120px;
padding: 13px;
gap: 12px;
padding: 0px 37px;
margin-top: 16px;


}

#HoldProject{

  display: flex;
  gap:14px;


}

#HoldProject button:last-child:hover{

color: red;

}